<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Pluralsight advanced react</title>
    <meta name="description" content="Advanced React">
    <meta name="author" content="Tonje Stolpestad">
<script type="text/javascript">
window.initialData = <%- JSON.stringify(initialData) -%>
</script>

</head>

<body>
<div id="root"><%- initialMarkup -%></div>
<script src="/app.js?version=1" charset="UTF-8" ></script>
<script src="/vendors~app.js?version=1" charset="UTF-8" ></script>
</body>
</html>