<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Pluralsight advanced react</title>
    <meta name="description" content="Advanced React">
    <meta name="author" content="Tonje Stolpestad">


</head>

<body>
<div id="root"><%- initialContent -%></div>
<script src="/bundle.js" charset="UTF-8" ></script>
</body>
</html>